<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Author Page </title> 
        <style type="text/css">
            #content1 {
            position: absolute;
            height: 100px;
            line-height: 200px;
            left: 38%;
            top: 20%
        }
            #content2 {
            position: absolute;
            top: 40%;
            left: 35%;
        }
        </style>
    </head>
    <body>
        <h1>{{name}}</h1>
        <h2>{{affiliation}}</h2>
        
    </body>
</html>