<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <title>Error Page</title>  
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
            li {display: inline;}
        </style>
    </head>

    <body class="w3-light-grey">
        <h1 align="center">Error!</h1>
        <h1 align="center">
            Back to 
            <a href="/search/">Search Page</a>
        </h1>

    </body>
</html>