<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Covid-19 Search </title> 
        <style type="text/css">
            #content1 {
            position: absolute;
            height: 100px;
            line-height: 200px;
            left: 38%;
            top: 20%
        }
            #content2 {
            position: absolute;
            top: 40%;
            left: 35%;
        }
        </style>
    </head>
    <body>
        <div id="content1">
            <h1>Covid-19 Search</h1>
            <!-- <p>Covid-19 Search</p> -->
        </div>

        <div id="content2">
            <form action = '/result' method="get" style="font-size: 20pt">
                <input type="text" name="searchText" style="font-size: 20pt"  />
                <input type="submit" style="font-size: 20pt" value="go!"/>
            </form>
        </div>
    </body>
</html>